* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
  font-family: Roboto, sans-serif;
}

hr {
  width: 100%;
}

a::selection,
div::selection,
p::selection,
span::selection {
  background: orange;
  color: white /* Safari, Chrome, Opera */
}

.root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.dark-style {
  position: fixed;
  border-radius: 50%;
  background: #efefef;
  border: 1px solid #c1c1c1;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}

.dark-style > i {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-style:hover {
  background: #c1c1c1;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 0 8px #bebebe;
  background: white;
  z-index: 2;
  text-align: center;
  font-size: 20px;
  padding: 15px 10px;
  grid-area: 1 / 1 / 2 / -1;
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
}

.header-left {
  padding: 10px;
  flex: 1;
}

.title {
  text-align: start;
  color: #ffa500;
  cursor: pointer;
}

.title > i {
  padding-right: 10px;
}

.header-center {
  flex: 2;
}

.search {
  display: flex;
}

.search-input {
  width: 100%;
  border: 1px solid #c1c1c1;
  border-right: none;
  padding: 10px 5px;
  height: 22px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-input:focus {
  border: 1px solid orange;
  border-right: 0;
}

.search-input:focus + .search-button {
  border: 1px solid orange;
  border-left: 0;
}

.search-button {
  width: 40px;
  height: 44px;
  border: 1px solid #c1c1c1;
  background: #efefef;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-button:hover {
  background: #c1c1c1;
}

.icon {
  font-size: 29px;
  padding: 5px 10px;
  color: #c1c1c1;
  cursor: pointer;
}

.icon:hover {
  color: #656565
}

.header-right {
  flex: 1;
  position: relative;
}

.user-wrp {
  display: flex;
  justify-content: flex-end;
}

.user-notification,
.user-settings {
  padding: 10px;
  cursor: pointer;
}

.user-settings {
  border-radius: 50%;
  background: orange;
}

.user-settings:hover {
  background: #c1c1c1;
}

.user-settings:hover > ul {
  display: block;
}

.user-settings > ul {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 60%);
  overflow: hidden;
  position: absolute;
  display: none;
  right: 5px;
  width: 150px;
  top: 100%;
}

.user-settings > ul > li {
  padding: 10px;
  text-align: initial;
}

.user-settings > ul > li i {
  padding-right: 10px;
}

.user-settings > ul > li a {
  text-decoration: none;
  color: black;
}

.user-settings > ul > li:last-of-type a {
  color: red;
}

.user-settings > ul > li:hover {
  background: #c1c1c1;
}

/*
LEFT SIDE
*/

.left-side {
  background-color: rgba(235, 235, 235, 0.8);
  grid-area: 2 / 1 / 5 / 4;
  height: calc(100vh - 74px);
  position: sticky;
  top: 74px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.left-side * {
  color: black;
}

.users-list {
  overflow-y: auto;
  height: calc(100vh - 74px - 122px);
  width: 100%;
}

.user {
  display: flex;
  padding: 10px;
  text-decoration: none;
  line-height: 40px;
}

.user-image {
  border-radius: 50%;
  min-width: 44px;
  height: 44px;
  text-align: center;
}

.user-image img,
.video-icon img {
  border-radius: 50%;
}

.user-info {
  display: flex;
  width: 100%;
  margin-left: 10px;
}

.user-name {
  width: 100%;
}

.pulse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  margin: 15px 5px;
  animation: pulse 2s infinite;
}

.info-block {
  width: 100%;
  text-align: center;
  height: 100px;
  background: #dfdfdf;
  margin: 10px;
  display: grid;
}

.info-block > div:first-child {
  padding: 10px;
}

.info {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

.info > a:hover > i {
  color: orange;
}

/*
MAIN CONTAINER
*/

.main-container {
  grid-area: 2 / 4 / 5 / -1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.categories {
  display: flex;
  padding: 10px 0;
  overflow-x: auto;
  min-height: 45px;
}

.category {
  border-radius: 30px;
  margin-right: 10px;
  padding: 10px;
  background: #efefef;
  font-size: 19px;
  cursor: pointer;
  border: 1px solid #c1c1c1;
}

.user:hover,
.category:hover {
  background: #c1c1c1;
}

.selected {
  background: orange;
  color: white;
}

.carousel {
  padding: 10px 0;
  min-height: 500px;
  box-sizing: border-box;
}

.carousel-wpr {
  background: url("./img/carousel.jpg") no-repeat center center;
  height: 100%;
  width: 100%;
}

.videos {
  flex: 1;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 10px;
}

.video {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview {
  background: #efefef;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  position: relative;
  cursor: pointer;
}

.imgBg {
  height: 300px;
}

.imgBg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.preview-hover {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #656565;
  opacity: 0;
  font-size: 30px;
  margin: 0 auto;
  /*display: none;*/
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.preview-hover > i {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview:hover .preview-hover {
  display: block;
  opacity: 0.6;
  visibility: visible;
  transition-delay: 0s;
}

.viewers {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  background: #656565;
  color: white;
  border-radius: 5px;
  padding: 6px;
  z-index: 1;
}

.online {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  background: #ff0000;
  color: white;
  border-radius: 5px;
  padding: 6px;
  z-index: 1;
}

.video-desc {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.video-title {
  width: 100%;
}

.video-title > span,
.user-name > span {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.video-icon {
  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

.footer {
  text-align: center;
  margin: 10px 0;
}

/*
MEDIA
*/

@media screen and (max-width: 600px) {
  .videos {
    grid-template-columns: repeat(1, 1fr);
  }

  .title > span,
  .search > div.icon,
  .user-wrp > div.icon {
    display: none;
  }

}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .left-side {
    grid-area: 2 / 1 / 5 / 3;
  }

  .main-container {
    grid-area: 2 / 3 / 5 / -1;
  }
}

@media screen and (max-width: 1200px) {
  .user-info,
  .info-block {
    display: none;
  }

  .left-side {
    grid-area: 2 / 1 / 5 / 2;
  }

  .main-container {
    grid-area: 2 / 2 / 5 / -1;
  }

  .users-list {
    height: calc(100vh - 74px);
  }

  .user {
    justify-content: center;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
